<!DOCTYPE html>
<html lang="en" th:replace="~{fragments/layout :: layout (~{::body},'owners')}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Visit</title>
</head>
<body>
<div class="row">
    <h1 th:with="text=${visit.id==null?'New Visit':'Update Visit'}" th:text="${text}"></h1>
    <div class="col-12">
        <table class="table table-striped">
            <tr>
                <th>Name</th>
                <th>BirthDate</th>
                <th>Type</th>
                <th>Owner</th>
            </tr>
            <tr>
                <th th:text="${pet.name}">Name</th>
                <th th:text="${pet.birthDate}">BirthDate</th>
                <th th:text="${pet.type}">Type</th>
                <th th:text="${pet.owner.firstName + ' '+pet.owner.lastName}">Owner</th>
            </tr>
        </table>
    </div>
    <div class="col-12">
        <form class="form-horizontal" th:with="action=${visit.id==null?'/owners/'+pet.owner.id+'/pets/'+pet.id+'/visits':'/owners/'+owner.id+'/pets/'+pet.id+'/visits/update'}" th:action="@{${action}}" method="post" th:object="${visit}">
            <div class="form-group has-feedback">
                <div class="form-group">
                    <label class="control-label col-sm-2">Pet</label>
                    <div class="col-sm-10"><span th:text="${pet.name}"></span></div>
                </div>
                <input th:replace="~{fragments/inputField ::input ('Visit Date','visitDate','date')}"></input>

                <input th:replace="~{fragments/inputField ::input ('Description','description','text')}"></input>


            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-8">
                    <button th:with="text=${visit.id==null?'Add Visit':'Update Visit'}" type="submit" class="btn btn-default" th:text="${text}">Submit</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-12">
        <table class="table table-striped">
            <tr>
                <th>Visit Date</th>
                <th>Description</th>
            </tr>
            <tr th:each="visit : ${pet.visits}">
                <th th:text="${visit.visitDate}">Name</th>
                <th th:text="${visit.description}">BirthDate</th>
            </tr>
        </table>
    </div>
</div>
</body>
</html>