<!DOCTYPE html>
<html lang="en" th:replace="~{fragments/layout :: layout (~{::body},'owners')}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Find Owners</title>
</head>
<body>

<div class="row">
    <h1>Find Owners</h1>
    <div class="col-12">
        <form class="form-horizontal" th:action="@{/owners/find}" method="post" th:object="${owner}">
            <div class="form-group has-feedback">
                <input th:replace="~{fragments/inputField ::input ('Last Name','lastName','text')}"></input>
            </div>
            <div class="form-group ">
                <div class="col-sm-offset-2 col-sm-8">
                    <button type="submit" class="btn btn-default">Find</button>
                </div>
            </div>
        </form>
    </div>
    <br>
    <a th:href="@{/owners/create}" class="btn btn-default">Add Owner</a>
</div>
</body>
</html>