<!DOCTYPE html>
<html lang="en" th:replace="~{fragments/layout :: layout (~{::body},'vets')}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vets</title>
</head>
<body>
<h1>List of Vets</h1>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="vet : ${vets}">
        <th th:text="${vet.id}">Id</th>
        <th th:text="${vet.firstName}">First Name</th>
        <th th:text="${vet.lastName}">Last Name</th>
    </tr>
    </tbody>
</table>
</body>
</html>